# 따릉이 대여소 정보
* https://www.bikeseoul.com/
* 따릉이 홈페이지에 나와있는 대여소 정보를 가져온다.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import requests
import pandas as pd

In [3]:
url = 'https://www.bikeseoul.com/commonCode/getStationName.do'
 
%time response = requests.post(url=url)
response

CPU times: user 36.7 ms, sys: 12.2 ms, total: 48.9 ms
Wall time: 155 ms

In [4]:
data = response.json()

In [5]:
df = pd.DataFrame(data['stationList'])
df.shape

(1463, 20)

In [6]:
df.head()

,addVal1,addVal2,addVal3,cdDesc1,cdDesc2,comCd,comCdName,comCdNameEn,comCdNameJa,comCdNameKo,comCdNameZh,comUpCd,crudFlg,lang,mileageUseYn,rentFee,stationId,stationName,stationNo,viewFlg
0,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,None,108. 서교동 사거리,None,None
1,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,None,503. 더샵스타시티 C동 앞,None,None
2,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,None,729. 서부식자재마트 건너편,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,None,731. 서울시 도로환경관리센터,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,None,732. 신월동 이마트,None,None

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 20 columns):
addVal1         0 non-null object
addVal2         0 non-null object
addVal3         0 non-null object
cdDesc1         0 non-null object
cdDesc2         0 non-null object
comCd           0 non-null object
comCdName       0 non-null object
comCdNameEn     0 non-null object
comCdNameJa     0 non-null object
comCdNameKo     0 non-null object
comCdNameZh     0 non-null object
comUpCd         0 non-null object
crudFlg         0 non-null object
lang            1463 non-null object
mileageUseYn    0 non-null object
rentFee         0 non-null object
stationId       0 non-null object
stationName     1463 non-null object
stationNo       0 non-null object
viewFlg         0 non-null object
dtypes: object(20)
memory usage: 228.7+ KB

In [8]:
df.isnull().sum()

addVal1         1463
addVal2         1463
addVal3         1463
cdDesc1         1463
cdDesc2         1463
comCd           1463
comCdName       1463
comCdNameEn     1463
comCdNameJa     1463
comCdNameKo     1463
comCdNameZh     1463
comUpCd         1463
crudFlg         1463
lang               0
mileageUseYn    1463
rentFee         1463
stationId       1463
stationName        0
stationNo       1463
viewFlg         1463
dtype: int64

In [9]:
stations = df[['lang', 'stationId', 'stationName']]
stations.head()

      lang stationId        stationName
0  LAG_001      None       108. 서교동 사거리
1  LAG_001      None   503. 더샵스타시티 C동 앞
2  LAG_001      None   729. 서부식자재마트 건너편
3  LAG_001      None  731. 서울시 도로환경관리센터
4  LAG_001      None       732. 신월동 이마트

In [10]:
stations['id'] = df['stationName'].apply(lambda x : x.split('.')[0] if '.' in x else x )
stations['name'] = df['stationName'].apply(lambda x : x.split('.')[1] if '.' in x else x )
stations

         lang stationId            stationName    id               name
0     LAG_001      None           108. 서교동 사거리   108            서교동 사거리
1     LAG_001      None       503. 더샵스타시티 C동 앞   503        더샵스타시티 C동 앞
2     LAG_001      None       729. 서부식자재마트 건너편   729        서부식자재마트 건너편
3     LAG_001      None      731. 서울시 도로환경관리센터   731       서울시 도로환경관리센터
4     LAG_001      None           732. 신월동 이마트   732            신월동 이마트
5     LAG_001      None       733. 신정이펜하우스314동   733        신정이펜하우스314동
6     LAG_001      None          734. 신트리공원 입구   734           신트리공원 입구
7     LAG_001      None            735. 영도초등학교   735             영도초등학교
8     LAG_001      None             736. 오솔길공원   736              오솔길공원
9     LAG_001      None              737. 장수공원   737               장수공원
10    LAG_001      None         504. 신자초교입구교차로   504          신자초교입구교차로
11    LAG_001      None             739. 신월사거리   739              신월사거리
12    LAG_001      None              740. 으뜸공원   740               으뜸공원
13    LAG_001      None        741. 화곡로 입구 교차로   741         화곡로 입구 교차로
14    LAG_001      None       742. 등촌역 5번 출구 뒤   742        등촌역 5번 출구 뒤
15    LAG_001      None    743. 현대6차아파트 101동 옆   743     현대6차아파트 101동 옆
16    LAG_001      None        744. 신목동역 2번 출구   744         신목동역 2번 출구
17    LAG_001      None            745. 강서초등학교   745             강서초등학교
18    LAG_001      None          746. 목동2단지 상가   746           목동2단지 상가
19    LAG_001      None          747. 목동3단지 상가   747           목동3단지 상가
20    LAG_001      None    505. 자양사거리 광진아크로텔 앞   505     자양사거리 광진아크로텔 앞
21    LAG_001      None            934. 신사동 성당   934             신사동 성당
22    LAG_001      None         935. 역촌역 1번 출구   935          역촌역 1번 출구
23    LAG_001      None    937. 상림마을 롯데캐슬2단지 옆   937     상림마을 롯데캐슬2단지 옆
24    LAG_001      None           938. 금암 문화공원   938            금암 문화공원
25    LAG_001      None          939. 은평구청 교차로   939           은평구청 교차로
26    LAG_001      None         941. 은평뉴타운 도서관   941          은평뉴타운 도서관
27    LAG_001      None         942. 상림마을 생태공원   942          상림마을 생태공원
28    LAG_001      None          943. 은평구청 보건소   943           은평구청 보건소
29    LAG_001      None      506. 금호 어울림 아파트 앞   506       금호 어울림 아파트 앞
...       ...       ...                    ...   ...                ...
1433  LAG_001      None    500. 어린이대공원역 3번출구 앞   500     어린이대공원역 3번출구 앞
1434  LAG_001      None        1641. 한내근린공원 남측  1641          한내근린공원 남측
1435  LAG_001      None        1640. 한내근린공원 북측  1640          한내근린공원 북측
1436  LAG_001      None     590. 건국대학교 (입학정보관)   590      건국대학교 (입학정보관)
1437  LAG_001      None       591. 건국대학교 (행정관)   591        건국대학교 (행정관)
1438  LAG_001      None        592. 건국대학교 학생회관   592         건국대학교 학생회관
1439  LAG_001      None        1149. 신방화역환승주차장  1149          신방화역환승주차장
1440  LAG_001      None         2136. 신림역 8번출구  2136           신림역 8번출구
1441  LAG_001      None             391. 정동길입구   391              정동길입구
1442  LAG_001      None           450. 효자동 삼거리   450            효자동 삼거리
1443  LAG_001      None             451. 청와대앞길   451              청와대앞길
1444  LAG_001      None           501. 광진구의회 앞   501            광진구의회 앞
1445  LAG_001      None            593.자양중앙나들목   593            자양중앙나들목
1446  LAG_001      None         1250.문정2동 주민센터  1250          문정2동 주민센터
1447  LAG_001      None                 7.이동정비     7               이동정비
1448  LAG_001      None          3500. 군자역2번출구  3500            군자역2번출구
1449  LAG_001      None           3501. 광진구청 앞  3501             광진구청 앞
1450  LAG_001      None         3502. 중곡역 1번출구  3502           중곡역 1번출구
1451  LAG_001      None           3503. 광진유진스웰  3503             광진유진스웰
1452  LAG_001      None             3504. 원일교회  3504               원일교회
1453  LAG_001      None        3505. 신양초교앞 교차로  3505          신양초교앞 교차로
1454  LAG_001      None     502. 뚝섬유원지역 1번출구 앞   502      뚝섬유원지역 1번출구 앞
1455  LAG_001      None  424. 롯데하이마트 (상암월드컵점)    424   롯데하이마트 (상암월드컵점)
1456  LAG_001      None         425. DMC첨단산업센터   425          DMC첨단산업센터
1457  LAG_001      None          426. 서울신용보증재단   426           서울신용보증재단
1458  LAG_001      None     722. LG전자베스트샵 신정점    722      LG전자베스트샵 신정점
1459  LAG_001      None            723. SBS방송국   723             SBS방송국
1460  LAG_001      None   724. 계남공원 입구 주출입구 좌측   724    계남공원 입구 주출입구 좌측
1461  LAG_001      None        725. 양강중학교앞 교차로   725         양강중학교앞 교차로
1462  LAG_001      None     726. 목동3단지 시내버스정류장   726      목동3단지 시내버스정류장

[1463 rows x 5 columns]

In [11]:
stations['name'].unique().shape

(1463,)

## 서비스 구 목록

In [12]:
get_station_url = 'https://www.bikeseoul.com/commonCode/getStation.do'
 
%time response = requests.post(url=get_station_url)
response

CPU times: user 18.7 ms, sys: 3.95 ms, total: 22.7 ms
Wall time: 62.1 ms

In [13]:
data = response.json()
gu = pd.DataFrame(data['stationList'])
gu.shape

(25, 20)

In [14]:
gu.head()

,addVal1,addVal2,addVal3,cdDesc1,cdDesc2,comCd,comCdName,comCdNameEn,comCdNameJa,comCdNameKo,comCdNameZh,comUpCd,crudFlg,lang,mileageUseYn,rentFee,stationId,stationName,stationNo,viewFlg
0,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,23,송파구,None,None
1,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,24,성북구,None,None
2,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,25,중랑구,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,26,노원구,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None,None,LAG_001,None,None,27,도봉구,None,None

In [15]:
gu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 20 columns):
addVal1         0 non-null object
addVal2         0 non-null object
addVal3         0 non-null object
cdDesc1         0 non-null object
cdDesc2         0 non-null object
comCd           0 non-null object
comCdName       0 non-null object
comCdNameEn     0 non-null object
comCdNameJa     0 non-null object
comCdNameKo     0 non-null object
comCdNameZh     0 non-null object
comUpCd         0 non-null object
crudFlg         0 non-null object
lang            25 non-null object
mileageUseYn    0 non-null object
rentFee         0 non-null object
stationId       25 non-null object
stationName     25 non-null object
stationNo       0 non-null object
viewFlg         0 non-null object
dtypes: object(20)
memory usage: 4.0+ KB

In [16]:
gu[['lang', 'stationId', 'stationName']].sort_values(by='stationId')

       lang stationId stationName
13  LAG_001        10         종로구
14  LAG_001        11          중구
15  LAG_001        12         마포구
16  LAG_001        13        서대문구
17  LAG_001        14         성동구
18  LAG_001        15         광진구
19  LAG_001        16        동대문구
22  LAG_001        17        영등포구
20  LAG_001        18         양천구
21  LAG_001        19         용산구
23  LAG_001        20         은평구
24  LAG_001        21         강동구
12  LAG_001        22         강서구
0   LAG_001        23         송파구
1   LAG_001        24         성북구
2   LAG_001        25         중랑구
3   LAG_001        26         노원구
4   LAG_001        27         도봉구
5   LAG_001        28         금천구
6   LAG_001        29         구로구
7   LAG_001        30         동작구
8   LAG_001        31         관악구
9   LAG_001        32         서초구
10  LAG_001        33         강남구
11  LAG_001        34         강북구

In [17]:
# https://www.bikeseoul.com/js/stationView.js 에 있는 API로 주변 상가정보를 가져온다.
get_station_url = 'https://www.bikeseoul.com/app/station/getStationNearMallList.do'
 
%time response = requests.post(url=get_station_url)
response

CPU times: user 20.7 ms, sys: 3.82 ms, total: 24.5 ms
Wall time: 84 ms

In [18]:
data = response.json()
mall = pd.DataFrame(data['mallList'])
mall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 22 columns):
adTextDesc            156 non-null object
currentPageNo         156 non-null int64
firstRecordIndex      156 non-null int64
lang                  156 non-null object
mode                  0 non-null object
pageSize              156 non-null int64
pageYn                156 non-null object
recordCountPerPage    156 non-null int64
searchDate            0 non-null object
searchEndDate         0 non-null object
searchParameter       0 non-null object
searchStartDate       0 non-null object
searchValue           0 non-null object
shopAdSeq             156 non-null object
shopLatitude          156 non-null object
shopLongitude         156 non-null object
shopName              156 non-null object
shopTelNo             156 non-null object
stationGrpSeq         0 non-null object
stationName           156 non-null object
totalRecordCount      156 non-null int64
typeClsName           156 non-null object
dtypes: int64(5), object(17)
memory usage: 26.9+ KB

In [19]:
mall[['adTextDesc', 'shopLatitude', 'shopLongitude', 'shopName', 'stationName']].head()

,adTextDesc,shopLatitude,shopLongitude,shopName,stationName
0,전기공급처 : 경찰초소\r\n관리번호 : 01-5207-5713\r\n\r\n한국전...,37.565224,126.983246,경찰초소,328. 탑골공원 앞
1,전기공급처\r\n미확인,37.573090,126.974236,미확인,303. 광화문역 1번출구 앞
2,전기공급처 : 가판대\r\n김성순 (010-8899-4432)\r\n신한은행\t11...,37.570126,126.991295,가판대,335. 종로3가역 15번출구 앞
3,전기공급처 : 가판대\r\n최석문 (766-0795)\t\r\n하나은행\t763-8...,37.580521,127.002724,가판대,342. 대학로 마로니에공원
4,전기공급처 : 미정,37.569569,126.982124,대여소 미설치,317. 영풍빌딩 앞(미설치)

# 크롤링으로 위경도 가져오기

In [20]:
import requests
from bs4 import BeautifulSoup as bs
import random
import time
from tqdm import tqdm, trange

rent_stations = []
base_url = 'https://www.bikeseoul.com/app/station/moveStationSearchView.do?currentPageNo='

def crawling_rent_station(start, end):
    for num in trange(start, end+1):
        page_source = requests.get( base_url + str(num))
        soup = bs(page_source.text, 'html.parser')
        loc_table = soup.select('table.psboard1 > tbody')[0].find_all('tr')
        for row in loc_table:
            loc_info = []
            loc_name = row.select('td.pl10')[0].get_text(strip=True)
            if '.' in loc_name:
                loc_info.append(loc_name.split('.')[-1].lstrip())
            else:
                loc_info.append(loc_name)
            # 운영여부
            loc_info.append(row.select('td.pl10')[1].get_text(strip=True))
            # 주소
            loc_info.append(row.select('td.mhid')[0].get_text(strip=True))
            # 위도, 경도
            loc_geo = row.find('a')['param-data'].split(',')
            loc_info.append(loc_geo[0])
            loc_info.append(loc_geo[1])
            # 리스트에 대여소 추가
            rent_stations.append(loc_info) 
        time.sleep(random.randint(1,3))
    return rent_stations

In [21]:
rent_stations = crawling_rent_station(1, 293)

100%|██████████| 293/293 [13:22<00:00,  2.74s/it]

In [22]:
header = ['대여소','상태','주소','위도','경도']
df = pd.DataFrame.from_records(rent_stations, columns = header)
df.shape

(1463, 5)

In [23]:
df.head()

,대여소,상태,주소,위도,경도
0,광진교 남단 사거리(디지털프라자앞),운영중,서울특별시 강동구 구천면로 171 376 남단사거리,37.541805,127.124718
1,해공공원(천호동),운영중,서울특별시 강동구 올림픽로 702 265,37.545219,127.125916
2,해공도서관앞,운영중,서울특별시 강동구 올림픽로 702 367,37.543915,127.125458
3,삼성광나루아파트 버스정류장,운영중,서울특별시 강동구 상암로3길 77 암사동 534,37.553349,127.128860
4,롯데캐슬 115동앞,운영중,서울특별시 강동구 양재대로 1665 명일동 304,37.554920,127.142799

In [28]:
df.to_csv('data/seoul_bike/bike_rent_station.csv', index=False)

In [29]:
%ls data/seoul_bike

bike_rent_station.csv
서울_공공자전거_따릉이_이용현황자료_20161026.xlsx
서울특별시 공공자전거 대여이력 정보_2015년.csv
서울특별시 공공자전거 대여이력 정보_2016년_1.csv
서울특별시 공공자전거 대여이력 정보_2016년_2.csv
서울특별시 공공자전거 대여이력 정보_2016년_3.csv
서울특별시 공공자전거 대여이력 정보_2017년_1.csv
서울특별시 공공자전거 대여이력 정보_2017년_2분기_1.csv
서울특별시 공공자전거 대여이력 정보_2017년_2분기_2.csv
서울특별시 공공자전거 대여이력 정보_2017년_3분기_1.csv
서울특별시 공공자전거 대여이력 정보_2017년_3분기_2.csv
서울특별시 공공자전거 대여이력 정보_2017년_4분기_1.csv
서울특별시 공공자전거 대여이력 정보_2017년_4분기_2.csv
서울특별시 공공자전거 대여이력 정보_2018년_1분기1.csv
서울특별시 공공자전거 대여이력 정보_2018년_2분기_1.csv
서울특별시 공공자전거 대여이력 정보_2018년_2분기_2.csv
서울특별시 공공자전거 대여이력 정보_2018년_2분기_3.csv
서울특별시 공공자전거 대여이력 정보_2018년_2분기_4.csv

In [30]:
pd.read_csv('data/seoul_bike/bike_rent_station.csv').head()

,대여소,상태,주소,위도,경도
0,광진교 남단 사거리(디지털프라자앞),운영중,서울특별시 강동구 구천면로 171 376 남단사거리,37.541805,127.124718
1,해공공원(천호동),운영중,서울특별시 강동구 올림픽로 702 265,37.545219,127.125916
2,해공도서관앞,운영중,서울특별시 강동구 올림픽로 702 367,37.543915,127.125458
3,삼성광나루아파트 버스정류장,운영중,서울특별시 강동구 상암로3길 77 암사동 534,37.553349,127.128860
4,롯데캐슬 115동앞,운영중,서울특별시 강동구 양재대로 1665 명일동 304,37.554920,127.142799

In [ ]:
stations